@import '../../mixins.scss';

.background_white {
  background-color: $white_theme;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.h1 {
  font-size: 48px;
  font-weight: 600;
  color: $red_theme;
}

.connect_button {
  min-width: 150px;
  padding-left: 20px !important;
  padding-right: 20px !important;
  height: 50px !important;
  color: $white_theme !important;
  background-color: $red_theme !important;
}

.input_number {
  height: 40px;
  min-width: 317px;
  background-color: $light_red_theme !important;
  color: $white_theme !important;
  border-radius: 9px;
  border-color: $light_red_theme !important;
  input {
    border-radius: 6px !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }
  &::-webkit-input-placeholder {
    color: $white_theme !important;
  }
}

.input {
  height: 50px;
  max-width: 400px;
  background-color: $light_red_theme !important;
  color: $white_theme !important;
  border-color: $red_theme;
  width: 400px !important;
  &::-webkit-input-placeholder {
    color: $white_theme !important;
  }
}
.inputAttributeForm {
  height: 50px;
  max-width: 100%;
  background-color: $light_red_theme !important;
  color: $white_theme !important;
  border-color: $red_theme;
  width: 300px !important;
  &::-webkit-input-placeholder {
    color: $white_theme !important;
  }
}

.label {
  color: $black_theme;
  font-weight: 400;
  font-family: $header-font;
  font-size: 16px;
}

.advance {
  color: $black_theme;
  font-weight: 600;
  font-family: $header-font;
  font-size: 16px;
}
a:hover {
  color: $black_theme;
}
.add_button {
  height: 50px !important;
  border-radius: 20px;
  color: $red_theme !important;
  background: white !important;
  border-color: $red_theme !important;
  width: 120px;
}
.yes_button {
  width: 120px;
  height: 50px !important;
  border-radius: 20px;
  color: $white_theme !important;
  background: $red_theme !important;
  border-color: $red_theme !important;
}
.provider_pricing_title {
  font-size: 42px;
  font-weight: 600;
  color: $red_theme;
}

.attributes_font {
  font-size: 30px;
}
.estimated_earnings {
  min-width: 423px;
}
.advance_settings {
  height: 40px;
  width: 100% !important;
  background-color: $light_red_theme !important;
  color: $white_theme !important;
  border-radius: 9px;
  border-color: $light_red_theme !important;
}

@media only screen and (max-width: 1199px) {
  .img_responsive {
    width: 100%;
    height: auto;
  }
  .input_number {
    height: 40px;
    min-width: 217px;
    background-color: $light_red_theme !important;
    color: $white_theme !important;
    border-radius: 9px;
    border-color: $light_red_theme !important;
    input {
      border-radius: 6px !important;
      border-top-right-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
    }
    &::-webkit-input-placeholder {
      color: $white_theme !important;
    }
  }
}

@media only screen and (max-width: 575px) {
  .img_responsive {
    display: none;
  }
}
