@import '../../mixins.scss';
.icon_size {
  font-size: 2em;
  color: $black_theme;
}
.font_style {
  font-size: 22px;
  color: #141322;
}
.yes_button {
  width: 215px;
  height: 50px !important;
  border-radius: 20px;
  color: $white_theme !important;
  background: $red_theme !important;
  border-color: $red_theme !important;
}

.attributes_font {
  font-size: 18px;
}

.title {
  font-size: 16px;
}
.searchInput {
  input {
    background-color: $white_theme !important;
    color: black !important;
  }
}
.copyToClipboard {
  .copyToClipboardSpan {
    span {
      margin-left: 10px;
      opacity: 0;
    }
  }
  &:hover {
    .copyToClipboardSpan {
      span {
        opacity: 1;
      }
    }
  }
}
