@import '../../mixins.scss';

.background {
  background-color: $white_theme;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background_white {
  background-color: $white_theme;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.background_white_img {
  @extend .background_white;
}

.content_title {
  min-height: 100vh;
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.img_content {
  @extend .content;
}

.h1 {
  font-size: 48px;
  color: $red_theme;
  text-align: center;
}

@media only screen and (max-width: 575px) {
  .img_content {
    display: none;
  }
}

@media only screen and (max-width: 991px) {
  .congrats_logo {
    height: 200px;
  }
}

@media only screen and (max-width: 767px) {
  .congrats_logo {
    height: 150px;
  }
}

.next_button {
  min-width: 150px;
  padding-left: 20px !important;
  padding-right: 20px !important;
  height: 50px !important;
  color: $white_theme !important;
  background-color: $red_theme !important;
}

.domain {
  font-size: 16px;
  color: $white_theme;
  div {
    font-size: 12px;
  }
}

.white_background {
  background: $white_theme;
  border-radius: 10px;
  border: 1px solid transparent;
  padding: 20px;
}

@media only screen and (max-width: 767px) {
  .background_white_img {
    display: none;
  }
}
